@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #f4bfbf;
  font-family: "Alkatra", sans-serif;
}

.wrapper {
  margin: auto;
  width: 90%;
}

/* Title and lives remaining */
h1 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 3rem;
  margin-top: 5rem;
  color: #faf0d7;
}

/* Hangman area */
.hangman-container {
  border: 3px dotted #000;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

/* Answer words and letters */
.answer-container {
  margin: 40px 0 40px 0;
}

.answer-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

.guess {
  margin: 0 5px 0 5px;
  font-size: 30px;
}

.revealed-answer {
  font-size: 30px;
  text-align: center;
  /* padding: 20px; */
}

/* Alphabet letters / Reset button */
.alphabet-container {
  margin-top: 15px;
  font-size: 0;
  text-align: center;
  margin-bottom: 40px;
}

.alphabetBtn {
  font-size: 32px;
  margin: 5px;
  width: 3rem;
  border-radius: 5px;
  border: none;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.disabled {
  pointer-events: none;
}

.disabled > button {
  background-color: rgba(0, 0, 0, 0.1);
}

.reset-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.reset-btn {
  background-color: #8cc0de;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 375px) {
  body {
    align-items: top;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 50%;
  }

  .hangman-container {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
  }
}
