@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: #192a32;
  font-family: "Alkatra", sans-serif;
}

.wrapper {
  margin: auto;
  width: 90%;
}

/* Title */
h1 {
  text-align: center;
  font-size: 45px;
  margin-bottom: 3rem;
  margin-top: 5rem;
  color: rgba(250, 250, 250, 0.8);
}

/* Hangman area */
.hangman-container {
  border: 3px solid #000;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* Answer words and letters */
.answer-container {
  margin: 40px 0 40px 0;
}

.answer-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

.guess {
  margin: 0 5px 0 5px;
  font-size: 30px;
  color: white;
}

.revealed-answer {
  font-size: 30px;
  text-align: center;
  /* padding: 20px; */
}

/* Alphabet letters */
.alphabet-container {
  margin-top: 15px;
  font-size: 0;
  text-align: center;
  margin-bottom: 40px;
}

.alphabetBtn {
  font-size: 32px;
  margin: 5px;
  width: 3rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #355b6e;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.disabled {
  pointer-events: none;
}

.disabled > button {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Reset and rules buttons */

.reset-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.reset-btn {
  background-color: #f2b137;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rules-btn {
  background-color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Rules modal and btn */

.rules-modal-container {
  display: none;
}

.rules-modal-container.active {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rules-container {
  background-color: #31c4be;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.modal-close-btn {
  background-color: #1f3540;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
}

/* Loss modal */
.lose-modal-container {
  display: none;
}

.lose-modal-container.active {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lose-container {
  background-color: #31c4be;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.lose-btn {
  margin-top: 10px;
}



/* Animations/Hover */
.alphabetBtn:hover {
  width: 2.7rem;

  transition: all 0.2s ease-out;
}

/* MEDIA QUERIES */

@media screen and (max-width: 375px) {
  body {
    align-items: top;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 50%;
  }

  .hangman-container {
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
  }
}
